body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section1 {
    width: 100%;
    height: 100%;
    background-color: rgb(51, 0, 128);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBody {
    /* background-color: yellow; */
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 55px;
}

.title {
    font-size: 60px;
    color: white;
    font-family: 'Grape Nuts', cursive;
}

.divMainInput {
    /* margin-top: 100px; */
    height: 50px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainInput {
    outline: none;
    border: none;
    width: 85%;
    height: 80%;
    font-size: 25px;
    border-radius: 10px 0 0 10px;
    font-family: 'Grape Nuts', cursive;
}

.divPlus {
    background-color: rgb(235, 5, 5);
    width: 10%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid black;
}
.fa-plus {
    color: white;
}

/* class pour les elements à ajouter */

.divAdded {
    background-color: white;
    height: 100%;
    width: 65%;
    border: 3px solid black;
    font-size: 25px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    transition: .4s all ease;
    font-family: 'Grape Nuts', cursive;
}

.divElement {
    height: 40px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnChecked {
    background-color: green;
    width: 6%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.btnDelete {
    background-color: red;
    width: 6%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.btnModify {
    background-color: blue;
    width: 6%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.fa-trash {
    color: white;
}

.fa-check {
    color: white;
}

.fa-pen-nib {
    color: white;
}

.classChecked {
    text-decoration: line-through;
    background-color: lightblue;
    height: 100%;
    width: 65%;
    border: 1px solid black;
    font-size: 25px;
    transition: .4s all ease;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
}

.inputModify {
    background-color: white;
    height: 100%;
    width: 65%;
    border: 1px solid black;
    font-size: 25px;
}

/* modal */

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    width: 45%;
    height: 38%;
    background-color: rgb(34, 36, 42);
    position: absolute;
    top: 28%;
    left: 28%;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.inputModal {
    width: 500px;
    height: 40px;
    font-size: 25px;
    font-family: 'Grape Nuts', cursive;
}

.texteModal {
    font-size: 25px;
    color: white;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
}

.btnModal {
    background-color: blue;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fin modal */

.firstDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#selectClass {
    height: 50px;
    width: 130px;
    background-color: rgb(235, 5, 5);
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    color: white;
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
}

.tri {

}

.divListe {
    height: 400px;
    overflow-y: hidden;
}

.counter {
    font-size: 35px;
    color: rgb(235, 120, 5);
    font-family: 'Grape Nuts', cursive;
    font-weight: bold;
}
